# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
.vscode/

.idea/

# Build output files
build_arm64*/
build_riscv64*/
build_x86_64*/
build*/

/bin
/util
/*.jpg
/*.png
/*.mp4
/*.avi


