Source: dx-app
Section: misc
Priority: optional
Maintainer: Koo Bongyu <kbg@deepx.ai>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.6
Homepage: https://deepx.ai

Package: dx-app
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A DEEPX Runtime Application
 RT App.
